@font-face {
  font-family: "Quantico_Bold";
  src: url(../src/assets/fonts/Quantico_Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  background: linear-gradient(#281283, #000000);
  background-attachment: fixed;
  margin: 0;
  font-family: 'Jolly Lodger', cursive;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

@media (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) {}